  body {
    background-color:#604D53;
}
header {
    text-align:center;
    border:3px solid #D5C5C8;
    margin-bottom:5px;
    border-radius:15px;
    color:#604D53;
    background-color:#FFDBDA;
}

.parent {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    

}
img {
 width:45%;
 padding:3px;
 height:150px;
 border-radius:20px;

}
/* Media Queries */
@media (min-width: 640px) {
    body {
        display:flex;
    }
  .parent {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    font-size:0;
	
	

	height: 100vw;
	
  }


  img {
    width:30%;
    height:236px;
  
    padding:5px;
    margin-left:10px;
    border-radius:20px;
  }
  
  header {
      height:30%;
      margin-top:50px;
  }

  .img1 {
      margin-top:80px;
      height:250px;
  }
  .img2 {
      height:300px;
  }
  .img3{
      margin-top:50px;
  }
  .img4 {
      height:350px;
  }

  .img6 {
      height:300px;
  }

  .img7 {
      height:250px;
  }

  .img8{
      height:300px;
      margin-bottom:10px;
      margin-top:-70px;
  }




 